.grid {
    margin: 2rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 880px;
}

.card {
    display: block;
    background-color: antiquewhite;
    overflow: hidden;
    margin: 10px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 100%;
}

h3{
    margin-top: 0;
    padding-top: 0;
}

.score-board {
    margin: 1rem;
}

.reset-btn {
    padding: 1rem;
    background-color: rgba(153, 79, 222, 0.508);
    margin: 1rem;
}

hr{
    width: 50%;
    height: 2px;
    background-color: black;
    border: none;
}